<!DOCTYPE html>
{% load static %}       
<!-- to load static files in this page use {% load static %} jinja2 syntax or, template tag -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Hi! Welcome to home page  </h1>
    <h2>Image</h2>
    <img src="{% static 'images/AI.jpeg' %}" alt="Sorry! Image not loaded , try again">
    <ul>
        <span><li><a href="/news">News</a></li></span>
    </ul>
</body>
</html>